@{
    ViewData["Title"] = "Cart Page";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}
@model IEnumerable<ThuchanhMVC.ViewModels.CartItem>


<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <form method="post" asp-action="UpdateCart" asp-route-id="@item.MaSp">
                    <div class="col-lg-12">
                        <div class="shoping__cart__table">

                            <table>
                                <thead>
                                    <tr>
                                        <th class="shoping__product">Products</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                    <tbody>

                                            <tr>
                                                <td class="shoping__cart__item">
                                                    <img style="height: 70px; width: 50px" src="~/ProductsImages/Images/@item.anhSps" alt="@item.TenSp">
                                                    <a asp-action="ProductDetail" asp-controller="HangHoa" asp-route-id="@item.MaSp">
                                                        @item.TenSp
                                                    </a>
                                                </td>
                                                <td class="shoping__cart__price">
                                                    <p>@item.DonGia.ToString("C2", new System.Globalization.CultureInfo("en-US"))</p>
                                                </td>
                                                <td class="shoping__cart__quantity">
                                                    <div class="quantity">
                                                        <div class="pro-qty">
                                                        <input type="text" name="quantity" value="@item.SoLuong">
                                     
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="shoping__cart__total">
                                                    @item.ThanhTien.ToString("C2", new System.Globalization.CultureInfo("en-US"))
                                                </td>
                                                <td class="shoping__cart__item__close">
                                                    <a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.MaSp">
                                                        <i class="fa fa-times text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                    </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="shoping__cart__btns">
                            <a asp-controller="Home" asp-action="Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                            <button type="submit" class="primary-btn cart-btn cart-btn-right">
                                <span class="icon_loading"></span>
                                Update Cart
                            </button>
                        </div>
                    </div>
                </form>
            }

         
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Total <span>@ViewBag.CartTotal.ToString("C2", new System.Globalization.CultureInfo("en-US"))</span></li>
                    </ul>
                    <a asp-controller="Cart" asp-action="Checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>

